@page
@model DeliveryAplication.Pages.Requests.CreateModel

@{
    ViewData["Title"] = "Create Request";
}

<h1>Create Request</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Request.ClientID" class="control-label">Select Client</label>
                <select asp-for="Request.ClientID" class="form-control" asp-items="ViewBag.ClientID"></select>
            </div>

            <div class="product-form-groups">
                @for (var i = 0; i < Model.RequestProducts.Count; i++)
                {
                    <div class="form-group product-form-group">
                        <label asp-for="RequestProducts[i].ProductID" class="control-label">Select Product:</label>
                        <select asp-for="RequestProducts[i].ProductID" class="form-control" asp-items="ViewBag.ProductID"></select>

                        <label asp-for="RequestProducts[i].Quantity" class="control-label">Quantity:</label>
                        <input asp-for="RequestProducts[i].Quantity" class="form-control" />
                        <span asp-validation-for="RequestProducts[i].Quantity" class="text-danger"></span>
                    </div>
                }
            </div>
            <div class="form-group">
                <label asp-for="Request.DeliveryLocationID" class="control-label">Select Delivery Location</label>
                <select asp-for="Request.DeliveryLocationID" class="form-control" asp-items="ViewBag.DeliveryLocationID"></select>
            </div>

            

            <div class="form-group">
                <button type="button" id="addProduct" class="btn btn-primary">Add Product</button>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            var index = @Model.RequestProducts.Count;

            $('#addProduct').click(function () {
                var productFormGroup = $('.product-form-group:first').clone();

                productFormGroup.find('select,input').each(function () {
                    var name = $(this).attr('name').replace(/\[\d+\]/, '[' + index + ']');
                    $(this).attr('name', name);
                });

                productFormGroup.appendTo('.product-form-groups');
                index++;
            });
        });
    </script>
}